# -----------------------------
# Arquivos de ambiente
.env
*.env

# Python / Django
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.log
*.pot
*.mo
*.swp
*.swo

# Django migrations
*/migrations/*.pyc
*/migrations/*.pyo
*/migrations/__pycache__/

# Virtualenv / dependências
env/
venv/
ENV/
.venv/
*.egg-info/
dist/
build/

# Dados grandes
*.parquet
*.csv
*.json
*.avro
*.orc
*.snappy
dump/
*.bson
*.metadata.json

# Docker
Dockerfile
docker-compose.override.yml
*.log

# IDEs e editores
.vscode/
.idea/
*.iml
*.sublime-project
*.sublime-workspace

# Sistema operacional
.DS_Store
Thumbs.db
desktop.ini

# Certificados e chaves
*.key
*.pem
*.crt

# Jupyter
.ipynb_checkpoints/

# Outros temporários
*.tmp
*.temp
