pandas>=2.3.3
boto3>=1.40.46
python-decouple>=3.8
beautifulsoup4>=4.14.2
requests>=2.32.5
drf-yasg>=1.21.11

gunicorn>=21.0.0
whitenoise>=6.0.0

Django>=5.2
djangorestframework>=3.16
django-filter>=23.0
django-cors-headers>=4.0.0